.grid-atelie {
    /* Garante que a seção tente ocupar tudo */
    padding: 0;
    /* Remove paddings que podem estar empurrando o conteúdo */
}
.galeria-atelie {
    width:100%;
}

.galeria-atelie video {
    width: 100%;
    /* Vídeo ocupa toda a largura */
    height: 400px;
    /* Mantém a proporção ou defina uma altura fixa se preferir */
    object-fit: cover;
}

.info-atelie h1 {
    font-size: 48px;
}


/* Mobile: até 360px */
@media screen and (max-width: 360px) {
    .info-atelie h1 {
        font-size: 24px;
    }

    .info-atelie h3 {
        font-size: 16px;
    }

    .galeria-atelie video {
        width: 100vw;
        /* Vídeo ocupa toda a largura */
        height: 250px;
        /* Mantém a proporção ou defina uma altura fixa se preferir */
        object-fit: cover;
    }

}