.avaliacoes {
    padding: 3em 0;
}

.info-avaliacoes h1 {
    text-align: center;
    padding: 1em 0;
    font-size: 48px;
}

@media screen and (max-width: 1020px) {
    .avaliacoes {
        padding: 2rem 2rem;
    }

    .info-avaliacoes h1 {
        font-size: 32px;
    }

}