.banner {
  display: flex;
  align-items: center;
  padding: 6rem 0;
  min-height: 70vh; /* Ocupa 70% da altura da visão do usuário */
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.titulo-readline {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  font-size: 56px;
}

/* Partes em destaque */
.italic {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
}

.botao-agendar-1 {
  display: block;
  /* Necessário para que a margem auto funcione */
  justify-content: center;
  margin: 10px auto;
  padding: 16px;
  cursor: pointer;
  width: 50%;
  border-radius: 8px;
  border: solid 1px;
  color: var(--cor-texto);
  background-color: transparent;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.botao-agendar-1:hover {
  transform: scale(1.03);
  cursor: pointer;
}

/* Mobile: até 1020 px */
@media screen and (max-width: 1020px) {

  .banner {
    padding: 1rem 1rem 4rem 1rem;
    width: 100%;
  }

  .banner h1 {
    font-size: 28px;
  }

  .botao-agendar-1 {
    width: 70%;
    padding: 14px;
    font-size: 16px;
  }
}