.swiper {
  width: 100%;
  min-height: 350px;
  padding-bottom: 60px;
}

.swiper-wrapper {
  align-items: center;
}



.swiper-slide {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  padding: 35px;
  border-radius: 8px;
  height: 350px;
}

.swiper-button-prev, .swiper-button-next {
  width: 25px;
  height: 25px;
  left: 3px;
}

.swiper-button-prev {
  left: 3px;
}

@media screen and (max-width: 1020px) {
  
}