.natalia-medeiros {
    padding: 4em 0 6rem 0;
}

.box-natalia {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.info-natalia {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

}

.natalia-medeiros img {
    width: 30%;
    border-radius: 8px;
}

.box-natalia h1 {
    font-size: 48px;
    font-weight: 400;
}

.info-natalia p {
    width: 50%;
    font-size: 18px;
}

/* Mobile: até 360px */
@media screen and (max-width: 1020px) {

    .info-natalia {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box-natalia h1 {
        font-size: 32px;
        width: 100%;
    }

    .natalia-medeiros img {
        width: 100%;
    }

    .info-natalia p {
    width: 100%;
    font-size: 14px;
}

}