.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
}

.swiper-wrapper {
    height: auto;
}

.info-servicos {
    text-align: center;
    padding: 2em 0;
}

.info-servicos h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 32px;
    padding: 2em 0 0 0;
}

.info-servicos h3 {
    font-size: 24px;
    font-weight: 600;
}

.servicos .swiper {
    height: auto;
    min-height: unset;
    padding-bottom: 2rem;
}

.servicos .swiper-slide {
    padding: 0;
    overflow: hidden;
    justify-content: flex-start;
    border: 1px solid #cccc;
}

.servicos .swiper-slide img {
    width: 100%;
    height: 40%;
    /* define altura fixa da imagem */
    object-fit: cover;
}


.swiper-slide:first-child img {
    object-position: top center;
}

.servicos .swiper-slide h1 {
    font-weight: 800;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 24px;
}

.servicos .swiper-slide p {
    margin-bottom: 0 auto;
    padding: 2rem;
    line-height: 1.2;
    font-size: 16px;
}

.botao-agendar-2 {
    display: block;
    /* Necessário para que a margem auto funcione */
    justify-content: center;
    margin: 10px auto;
    /* 30px de espaço em cima/baixo e centralizado nas laterais */
    /* Aproveite para melhorar o visual do seu botão */
    padding: 16px;
    cursor: pointer;
    width: 50%;
    border-radius: 8px;
    border: solid 1px;
    color: var(--cor-texto);
    background-color: transparent;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);

}

.botao-agendar-2:hover {
    transform: scale(1.03);
    cursor: pointer;
}

@media screen and (max-width: 1020px) {
    .info-servicos {
        padding: 4rem 0 3rem 0;
    }

    .info-servicos h3 {
        font-size: 24px;
        padding: 1rem 0 0.5rem 0;
    }

    .servicos .swiper-slide img {
        height: 40%;
    }

    .servicos .swiper-slide p {
        font-size: 14px;
    }

    .botao-agendar-2 {
        width: 70%;
        padding: 14px;
        font-size: 16px;
    }

}