.redes-sociais {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em 0 8em 0;
    width: 100%;
}

.rede-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: block;
    /* Garante que o link ocupe toda a área do card */

    width: 70%;
    height: auto;

    margin: 0 auto;

    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 12px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 2rem;
    text-decoration: none;
}

.info-insta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--cor-texto-white);
}

.icons-sociais {
    padding: 0;
}

.redes-sociais h1 {
    font-weight: 300;
    text-align: center;
    font-size: 42px;
}

.insta p {
    font-size: 18px;
    text-align: center;
}

.insta:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.icons-sociais {
    display: block;
    margin: 0 auto;
}

.letterinstagram {
    display: block;
    margin: 0 auto;
}


/* Mobile: até 360px */
@media screen and (max-width: 1020px) {

    .rede-insta {
        width: 90%;
        height: auto;
        padding: 2rem;
    }

    .info-insta {
        text-align: center;
        gap: 20px;
    }

    .rede-insta h1 {
        font-size: 36px;
    }

    .redes-sociais .info-insta h2 {
        font-size: 14px;
    }

    .letterinstagram {
        width: 70%;
    }

    .icons-sociais {
        width: 30%;
    }

}