.vale-presente {
  padding: 4em 0;
}

.rede-presente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: block;
  /* Garante que o link ocupe toda a área do card */

  width: 70%;
  height: auto;

  margin: 0 auto;

  background: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 24px;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  text-decoration: none;
}

.card-presente:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.info-presente h1 {
  font-weight: 400;
  font-size: 42px;
}

.vale-presente .info-presente h2 {
  font-size: 24px;
  text-align: center;
}

.info-presente {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--cor-texto-white);
  gap: 20px;
}

.imagem-presente {
  width: 30%;
}

.botao-presentear {
  display: block;
  /* Necessário para que a margem auto funcione */
  margin: 0 auto;
  /* 30px de espaço em cima/baixo e centralizado nas laterais */
  padding: 10px;
  cursor: pointer;
  width: 400px;
  background-color: transparent;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: var(--cor-texto);
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
    /* Sobe 30 pixels */
  }

  100% {
    transform: translateY(0);
  }
}


/* Mobile: até 360px */
@media screen and (max-width: 1020px) {
  .rede-presente {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .info-presente {
    text-align: center;
    gap: 20px;
  }

  .vale-presente .info-presente h1 {
    font-size: 36px;
  }

  .vale-presente .info-presente h2 {
    font-size: 14px;
  }

  .vale-presente .info-presente p {
    font-size: 14px;
  }

  .imagem-presente {
    width: 50%;
  }

}