.vale-presente {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4em 0;
  margin: 5em auto;
  /* PERMITE QUE AS SETAS APAREÇAM FORA DA CAIXA */
}

.card-presente {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 600px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  padding: 2em;
  animation: flutuar 3s ease-in-out infinite;
  border-radius: 8px;
}

.info-presente h1 {
  font-weight: 400;
  font-size: 36px;
}

.vale-presente .info-presente h3 {
  font-weight: 600;
  width: 100%;
  font-size: 21px;
  padding: 0.5em 2em;
  text-align: center;
}

/* Isso remove a cor azul/roxa de QUALQUER texto dentro do link do card */
.card-presente a,
.card-presente a * {
  text-decoration: none !important;
  color: inherit !important;
}

/* Garante que o estado 'visitado' (roxo) seja neutralizado */
.card-presente a:visited,
.card-presente a:visited * {
  color: inherit !important;
}

.info-presente {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imagem-presente {
  width: 280px;
}

.botao-presentear {
  display: block;
  /* Necessário para que a margem auto funcione */
  margin: 0 auto;
  /* 30px de espaço em cima/baixo e centralizado nas laterais */
  padding: 10px;
  cursor: pointer;
  width: 400px;
  background-color: transparent;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: var(--cor-texto);
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
    /* Sobe 30 pixels */
  }

  100% {
    transform: translateY(0);
  }
}


/* Mobile: até 360px */
@media screen and (max-width: 360px) {

  .vale-presente {
    margin: 4em 0 0 0;
  }


  .card-presente {
    width: 280px;
    border-radius: 8px;
  }

  .imagem-presente {
    width: 150px;
  }

  .info-presente h1 {
    font-weight: 400;
    font-size: 21px;
  }
  .vale-presente .info-presente h3 {
    font-weight: 200;
    font-size: 14px;
    width: 250px;
    text-align: center;
    padding: 0.5em 0;
  }
  .botao-presentear {
    font-size: 12px;
  }

}